.container{
	margin: 0 auto;
	width: 1140px;

}


.team_deatil{
	margin: 50px 0px;
}

.team_child{
	width: 33.33%;
	border: 0.2px solid gray;
	overflow: hidden;

}

.team_child img{
	width: 100%;
}

.team_img img{
	width: 100%;
	height: 100%;
	transition: all ease 0.2s;
}
.team_img img:hover{
	transform: scale(1.1);
}
span{
	background-color: rgb(255, 192, 6);
	position: relative;
	top: -20px;
	left: 10px;
	padding: 7px;
	color: white;
}
.ceo{
	margin: 20px;
	display: flex;
}

.ceo_img{
	width: 100px

}
.ceo_img img{
	border-radius: 50%;
	transition: all ease 0.2s;
}
.ceo_img img:hover{
	transform: scale(1.1);
}